.env
data/
scratch/
*.log
azureuser*
configs/
*__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.vscode/
build/
.venv*
.temp
results/*
models/*
config/*

# Python egg files
*.egg
*.egg-info/
*.egg-info
.eggs/